.homeworkHeader {
    font-size: 3.5rem;
    padding-inline: 5%;
    margin-block: 20px;
}

.homeworks,
.endedHw {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeworkWrapper {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 80%;
    height: 100%;
    gap: 10px;
    overflow: hidden;
    --border-radius: 10px;
    clip-path: polygon(0 var(--border-radius),
            var(--border-radius) 0,
            calc(100% - var(--border-radius)) 0,
            100% var(--border-radius),
            100% calc(100% - var(--border-radius)),
            calc(100% - var(--border-radius)) 100%,
            var(--border-radius) 100%,
            0 calc(100% - var(--border-radius)));
}

.homeworkContainer {
    box-shadow: inset -3px 0 var(--accent1);
    height: 100%;
    flex: 1;
    text-decoration: none;
    background-color: var(--main2);
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    transition: box-shadow 0.2s
}

.homeworkContainer:hover {
    box-shadow: inset -6px 0 var(--highlight1);
}

.homeworkContainer.ended {
    box-shadow: inset -3px 0 var(--red);
}

.homeworkContainer.ended:hover {
    box-shadow: inset -6px 0 var(--red);
}

.homeworkTitle {
    font-size: 2rem;
    font-weight: 700;
}

.homeworkInfo {
    display: flex;
    flex-direction: row;
    margin-top: 5px
        /* justify-content: space-evenly; */
}

.homeworkInfo .info {
    margin-right: 20px
}

.homeworkInfo .info i {
    margin-right: 5px;
}

.deleteGame {
    background-color: var(--main2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 5rem;
    /* height: 100%; */
    /* flex: 1 / 1; */
    font-size: 2.5rem;
    cursor: pointer;
    transition: color 0.2s, font-size 0.2s;
    box-sizing: border-box;
}

.deleteGame:hover {
    color: red;
    font-size: 2.25rem;
}

.hwLeaderboard {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: auto;
    gap: 10px;
}

.resultWrapper {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
    --border-radius: 10px;
    clip-path: polygon(0 var(--border-radius),
            var(--border-radius) 0,
            calc(100% - var(--border-radius)) 0,
            100% var(--border-radius),
            100% calc(100% - var(--border-radius)),
            calc(100% - var(--border-radius)) 100%,
            var(--border-radius) 100%,
            0 calc(100% - var(--border-radius)));
    transition: 0.2s;
}

.resultWrapper:hover {
    scale: 0.95;
}

.resultContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    background-color: var(--main2);
}

.deleteButton {
    min-width: 6vw;
    background-color: var(--main2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    cursor: pointer;
    transition: 0.2s;
}

.deleteButton:hover {
    font-size: 1.75vw;
    color: red
}

.hwPlayer {
    display: flex;
    width: 190px;
    height: 100%;
    align-items: center;
    padding: 10px;
}

.hwProgress,
.statText {
    text-align: center;
}

.statText {
    width: calc(7vw - 20px);
    height: 1.25vw;
    /* font-size: 1.25vw; */
    padding-inline: 10px;
}

.hwProgress {
    width: 7vw;
    font-size: 0.85vw;
}

.hwResultPercent {
    font-size: 1.75vw;
    font-weight: 700;
}

.progressBarContainer {
    flex: 1;
    /* padding-inline: 2.5vw; */
    display: flex;
    align-items: center;
    height: 1.25vw;
    font-size: 1vw;
}

.progressCorrect,
.progressIncorrect {
    width: 2.5vw;
    text-align: center;
}

.hwResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    overflow: hidden;
    --border-radius: 10px;
    clip-path: polygon(0 var(--border-radius),
            var(--border-radius) 0,
            calc(100% - var(--border-radius)) 0,
            100% var(--border-radius),
            100% calc(100% - var(--border-radius)),
            calc(100% - var(--border-radius)) 100%,
            var(--border-radius) 100%,
            0 calc(100% - var(--border-radius)));
    margin: 20px auto;
    background-color: var(--main2);
    width: 60%;
}

.hwResultsData {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--main2);
    padding-block: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.resultsRight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resultsPlayers,
.resultsCorrect,
.resultsincorrect {
    font-size: 1.75vw;
    font-weight: 700;
    /* background-color: var(--main1); */
    padding: 7px 17px;
    margin-block: 15px;
    text-align: center;
}

.resultsPlayers {
    border: 3px solid var(--accent1);
}

.resultsCorrect {
    border: 3px solid var(--green);
}

.resultsincorrect {
    border: 3px solid var(--red);
}

.chartContainer {
    position: relative;
    width: 400px;
    aspect-ratio: 1 / 1;
}

.chartPercent {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.chartPercentSub {
    font-weight: 100;
    font-size: 1rem;
}

.hwResultsTitle {
    font-size: 3vw;
    margin-top: 25px;
    font-weight: 700;
}

.resultsButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-block: 30px;
}

.resultsButtons>div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 20%;
    font-size: 2vw;
    border-radius: 5px;
    padding-bottom: 17px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
    margin-top: 3px;
}

.resultsButtons>div:hover {
    /* filter: brightness(1.1); */
    margin-top: 0px;
    padding-bottom: 20px;
    box-shadow: inset 0 -10px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
}

.resultsButtons>div:active {
    margin-top: 6px;
    padding-bottom: 13px;
    box-shadow: inset 0 -3px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
}

.resultsButtons i {
    font-size: 2.25vw;
    margin-right: 10px;
}

.hw_questionsContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: calc(80% - 15px);
    padding-inline: 15px 5px;
    margin: auto;
    gap: 10px;
    overflow-y: scroll;
    max-height: 75vh;
}

.hw_questionsContainer::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main2);
    border-radius: 10px;
    border: 2px solid var(--main1);
}

.hw_questionsContainer::-webkit-scrollbar-thumb {
    background-color: var(--accent1);
    border-radius: 10px;
    border: 2px solid var(--main1);
    transition: 0.2s;
}

.hw_questionsContainer::-webkit-scrollbar-thumb:hover {
    background-color: var(--highlight1)
}

.hw_question {
    /* flex: 1; */
    min-height: 9.75vw;
    max-height: 9.75vw;
    background-color: var(--main2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    --border-radius: 10px;
    clip-path: polygon(0 var(--border-radius),
            var(--border-radius) 0,
            calc(100% - var(--border-radius)) 0,
            100% var(--border-radius),
            100% calc(100% - var(--border-radius)),
            calc(100% - var(--border-radius)) 100%,
            var(--border-radius) 100%,
            0 calc(100% - var(--border-radius)));
}

.hw_statsBox {
    width: 8vw;
    padding-inline: 1vw;
    position: relative;
    /* width: 400px; */
    /* aspect-ratio: 1 / 1; */
}

.hw_statsText {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.hw_questionBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 1vw;
    justify-content: space-between;
    padding: 20px;
}

.hw_questionText {
    font-size: 1.25vw;
    font-weight: 700;
}

.hw_imageContainer {
    width: 12.75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: Adventure;
    background-color: var(--accent1);
}

.hw_answerText .correctContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hw_questionHeader {
    font-size: 4vw;
    font-weight: 700;
    padding-block: 10px;
    text-align: center;
    margin: 30px auto 10px;
    width: 85%;
    background-color: var(--main2);
    overflow: hidden;
    --border-radius: 10px;
    clip-path: polygon(0 var(--border-radius),
            var(--border-radius) 0,
            calc(100% - var(--border-radius)) 0,
            100% var(--border-radius),
            100% calc(100% - var(--border-radius)),
            calc(100% - var(--border-radius)) 100%,
            var(--border-radius) 100%,
            0 calc(100% - var(--border-radius)));
}

.hw_answerText {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.hwStandingQuestionFunc {
    margin: 10px;
    width: calc(15% - 10px);
    /* height: 100%; */
    padding-inline: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hw_questionFunc {
    margin: 10px;
    width: calc(15% - 10px);
    padding-inline: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hwModal {
    background: #0004;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 100px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.hwStandingAnswers {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: calc(90% - 15px);
    padding-inline: 15px 5px;
    margin: auto;
    gap: 10px;
    overflow-y: scroll;
    max-height: 75vh;
}

.hwStandingAnswers::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main2);
    border-radius: 10px;
    border: 2px solid var(--main1);
}

.hwStandingAnswers::-webkit-scrollbar-thumb {
    background-color: var(--accent1);
    border-radius: 10px;
    border: 2px solid var(--main1);
    transition: 0.2s;
}

.hwStandingAnswers::-webkit-scrollbar-thumb:hover {
    background-color: var(--highlight1)
}

.hwStandingQuestion {
    /* flex: 1; */
    min-height: 7.3125vw;
    max-height: 7.3125vw;
    background-color: var(--main2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    --border-radius: 10px;
    clip-path: polygon(0 var(--border-radius),
            var(--border-radius) 0,
            calc(100% - var(--border-radius)) 0,
            100% var(--border-radius),
            100% calc(100% - var(--border-radius)),
            calc(100% - var(--border-radius)) 100%,
            var(--border-radius) 100%,
            0 calc(100% - var(--border-radius)));
}

.hwStanding {
    width: 60%;
    background-color: var(--main1);
    --border-radius: 10px;
    clip-path: polygon(0 var(--border-radius),
            var(--border-radius) 0,
            calc(100% - var(--border-radius)) 0,
            100% var(--border-radius),
            100% calc(100% - var(--border-radius)),
            calc(100% - var(--border-radius)) 100%,
            var(--border-radius) 100%,
            0 calc(100% - var(--border-radius)));
    display: flex;
    flex-direction: column;
}

.standingTop {
    margin: 20px;
}

.hwStandingImageContainer {
    width: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: Adventure;
    background-color: var(--accent1);
}

.hwStandingStatsBox {
    width: 6.5vw;
    padding-inline: 1vw;
    position: relative;
}

.standingTop {
    display: flex;
    justify-content: space-between;
    padding-inline: 4vw;
}

.hwStandingBlook {
    max-width: 6vw;
}

.hwStandingChart {
    width: 8vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hwStandingGrade {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: -50% -50%; */
}

.hwStandingName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-inline: 2vw;
}

.hwDate {
    font-weight: bold;
    font-size: 1vw;
}

.hwInfo {
    background-color: var(--main2);
    /* height: 60%; */
    width: fit-content;
    margin: 15px auto;
    /* margin-inline: 20%; */
    display: flex;
    /* flex-direction: column; */
    /* flex */
    justify-content: center;
    gap: 15px;
    padding: 20px;
    --border-radius: 10px;
    clip-path: polygon(0 var(--border-radius),
            var(--border-radius) 0,
            calc(100% - var(--border-radius)) 0,
            100% var(--border-radius),
            100% calc(100% - var(--border-radius)),
            calc(100% - var(--border-radius)) 100%,
            var(--border-radius) 100%,
            0 calc(100% - var(--border-radius)));
}

.hwJoin {
    position: relative;
    font-weight: 700;
    font-size: 1.8vw;
    margin-block: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: min-content;
    line-height: 2vw;
    margin-top: 2vw;
}

.hwLink {
    text-decoration: underline;
}

.hwQrCode {
    width: 10vw;
    height: 10vw;
    outline: 4px solid var(--accent1);
}

.hwCopiedNotification {
    position: absolute;
    left: 50%;
    top: -2vw;
    translate: -50%;
}