#packsWrapper {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fit, 210px);
    justify-content: center;
    align-items: center;
    grid-gap: 25px;
    left: 25px;
    top: 100px;
    bottom: 100px;
    right: 40%;
    overflow-y: scroll;
    background-color: var(--main2);
    border-radius: 10px;
    padding-block: 50px
}

#packsWrapper::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main1);
    border-radius: 10px;
    border: 2px solid var(--main2)
}

#packsWrapper::-webkit-scrollbar-thumb {
    background-color: hsl(290, 48%, 40%, 50%);
    border-radius: 10px;
    border: 2px solid var(--main2);
}

#packsWrapper::-webkit-scrollbar-thumb:hover {
    background-color: hsl(290, 48%, 40%, 75%);
}

.packWrapper {
    width: 210px;
    height: 210px;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 7px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    transition: .2s;
}

.packWrapper[data-selected="true"] {
    scale: 1.1
}

.packWrapper:hover {
    scale: 0.95
}

.packImgContainer {
    height: 100%;
    position: relative;
}

.packShadow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
    width: 70%;
    filter: brightness(0) invert(100%);
    opacity: 0.5;
}

.packImg {
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
}

.packBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 24px;
    padding: 0 12px;
    background-color: rgba(0, 0, 0, .2);
    font-family: Adventure;
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 0 grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 12px;
    left: 0;
}

.packPriceImg {
    width: 16px;
    height: 16px;
    margin-right: 7px;
}

#marketHeader {
    font-size: 3rem;
    padding: 10px 20px
}

#balanceIcon {
    width: 38px;
    height: 38px;
    margin-right: 17px;
    /* float: right; */
}

#tokens {
    display: flex;
    position: absolute;
    right: 0;
    top: 10px;
    background-color: var(--main2);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-sizing: border-box;
    padding: 7.5px 20px 7.5px 10px;
    /* box-shadow: -0px 0px 0px 3px var(--accent1); */
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

#rewardsPreview {
    position: absolute;
    top: 100px;
    right: 0;
    left: 60%;
    bottom: 35%;
    margin-inline: 25px;
    padding-block: 20px;
    background-color: var(--main2);
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* grid-template-columns: repeat(auto-fit, 130px); */
}

#rewardsPreview::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main1);
    border-radius: 10px;
    border: 2px solid var(--main2)
}

#rewardsPreview::-webkit-scrollbar-thumb {
    background-color: hsl(290, 48%, 40%, 50%);
    border-radius: 10px;
    border: 2px solid var(--main2);
}

#rewardsPreview::-webkit-scrollbar-thumb:hover {
    background-color: hsl(290, 48%, 40%, 75%);
}

#rewardsPreview img {
    /* width: 120px; */
    padding: 5px;
}

#rewardsPreview>div {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    width: calc(20% - 5px);
}

#packOpener {
    position: absolute;
    background-color: var(--main2);
    bottom: 75px;
    right: 0;
    left: 60%;
    top: 65%;
    margin: 25px;
    border-radius: 10px;
}

#packOpener form {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#packOpener input[type="submit"] {
    border: 3px solid var(--accent1);
    background: none;
    margin: 5px;
    padding: 10px 30px;
    font-size: 2rem;
    transition: 0.2s;
    cursor: pointer;
}

#packOpener input[type="submit"]:hover {
    border: 3px solid var(--highlight1);
}

#packOpener div {
    margin: 5px;
    font-size: 2rem;
    background: none;
    display: block;
    width: max-content
}

#packOpener div input {
    padding: 10px 30px;
    border-radius: 5px;
    border: 3px solid var(--accent1);
    font-size: inherit;
    background: none;
    outline: none;
    width: fit-content;
    transition: 0.2s;
}

#packOpener div input:focus,
#packOpener div input:hover {
    border: 3px solid var(--highlight1);
}

#packOpener div input::-webkit-outer-spin-button,
#packOpener div input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#openingContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.cornerIcon {
    width: 30%;
    position: absolute;
    bottom: -20px;
    right: -20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: .2;
    transform: rotate(-35deg);
}

.openPackContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 360px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.openPackTop {
    position: absolute;
    bottom: 306.5px;
    left: 2.5px;
    width: 315px;
    height: 233px;
    background-size: 2835px 233px;
    background-repeat: no-repeat;
}

.openPack {
    width: 320px;
    height: 307px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: top left;
}

.isOpeningPackTop {
    animation: openTop .4s steps(8) forwards
}

.openingPackContainer {
    animation: dropPack .2s linear .4s forwards
}

.openContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 400px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /* overflow: hidden; */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .15);
    background-color: #fff;
}

.openingContainer {
    animation: growIn .2s linear .5s forwards;
}

.blookBackground {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.unlockedBlookImage {
    position: absolute;
    bottom: 85px;
    left: 105px;
    width: 190px;
}

.unlockedBlook div {
    text-shadow: 0 3px 3px rgba(0,0,0,.2);
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: Adventure
}

@keyframes openTop {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -2520px;
    }
}

@keyframes dropPack {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, 50vh);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

@keyframes growIn {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.bulkOpenBlook {
    width: 65px;
    display: inline;
}