.setsHeader {
    font-size: 3.5rem;
    padding-inline: 30px;
    margin-block: 20px;
}

.setsGame {
    position: relative;
    background-color: var(--main2);
    /* width: 275px; */
    min-height: 375px;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    --border-radius: 10px;
    clip-path: polygon(0 var(--border-radius),
            var(--border-radius) 0,
            calc(100% - var(--border-radius)) 0,
            100% var(--border-radius),
            100% calc(100% - var(--border-radius)),
            calc(100% - var(--border-radius)) 100%,
            var(--border-radius) 100%,
            0 calc(100% - var(--border-radius)));
    /* padding: 10px; */
    transition: scale 0.2s;
}

.setsGameBody {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    padding-top: 5px;
}

.setsGameInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 5px;
}

.setsGameTitle {
    font-size: 20px;
    font-weight: 700;
}

.setsGameInfoBottom {
    opacity: 0.75;
}

.setsGameButtons {
    display: flex;
    justify-content: space-evenly;
    margin-block: 5px;
    padding-block: 0;
    font-size: 20px;
    border-block: 3px solid var(--main1);
    /* width: 100%; */
}

.setsGameButtons>* {
    padding-block: 5px;
    /* text-align: center; */
    flex: 1;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setsGameEdit:hover {
    color: var(--accent2);
}

.setsGameDelete {
    border-inline: 2px solid var(--main1);
}

.setsGameDelete:hover {
    color: var(--red);
}

.setsGameSettings:hover {
    color: var(--accent1);
}

.setsGamePlayButtons {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

.setsGamePlayButtons>* {
    text-decoration: none;
    flex: 1;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    margin-inline: 5px;
    margin-top: 2px;
    border-radius: 5px;
    box-shadow: inset 0 -5px rgba(0, 0, 0, .2);
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
}

.setsGamePlayButtons>*:hover {
    filter: brightness(110%);
    margin-top: 0;
    padding-bottom: 12px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2);
}

.setsGamePlayButtons>*:active {
    margin-top: 5px;
    padding-bottom: 5px;
    box-shadow: inset 0 -0px rgba(0, 0, 0, .2);
}

.setsGamePlayButtons>* i {
    margin-right: 5px;
}

.setsGameSolo {
    background-color: var(--accent1);
    /* filter: saturate(0); */
}

.setsGameHost {
    background-color: var(--accent2);
}

.setsGames {
    display: grid;
    grid-template-columns: repeat(auto-fill, max(265px, 10%));
    gap: 20px;
    justify-content: center;
    align-content: flex-start;
    padding: 20px 20px 50px 20px;
}

.setsGameImage {
    height: 180px;
    width: 100%;
    position: relative;
}

.setsGameImage img {
    position: absolute;
    top: 0;
    margin: auto;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.setsGameEmptyImg {
    background: var(--accent1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: Adventure;
    user-select: none;
}

.setsGameNumQuestions {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #0008;
    padding: 5px 20px;
    border-radius: 5px;
    z-index: 2;
}

.setsGameRemoveFolder {
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--accent1);
    padding: 5px;
    border-radius: 5px;
    z-index: 2;
    height: 20px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.setsGameRemoveFolder:hover {
    scale: 0.95;
}

.setsGamePrivate {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #0008;
    padding: 5px;
    border-radius: 5px;
    z-index: 2;
}

.setsFolders {
    display: flex;
    flex-flow: row wrap;
    width: calc(90% + 14px);
    margin: 0 auto 15px;
    position: relative;
    z-index: 4;
    gap: 15px;
}

.setsFolder {
    position: relative;
    /* margin: 7px; */
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    padding-bottom: 10px;
    box-shadow: inset 0 -5px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.setsFolder:hover {
    margin-top: -2px;
    padding-bottom: 12px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2);
    transition: 0.1s;
}

.setsFolder:active {
    margin-top: 5px;
    padding-bottom: 5px;
    box-shadow: inset 0 -0px rgba(0, 0, 0, .2);
}

.setsFolderInside {
    min-width: 150px;
    padding: 0 10px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-shadow: 0 1.5px rgba(0, 0, 0, .2);
}

.setsFolderInside>i {
    margin-right: 10px;
    font-size: 22px;
}

.setsFolderSettings i {
    height: 20px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setsFolderSettings>i {
    width: 15px;
}

.setsFolderSettings {
    opacity: 0;
    transition: 0.2s;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.2);
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-inline: 5px;
    width: min-content
}

.setsFolder:hover .setsFolderSettings {
    opacity: 1;
}

.setsFolderSettingButtons {
    display: flex;
    gap: 5px;
    width: 0;
    overflow: hidden;
    transition: 0.2s;
}

.setsFolderSettingButtons>i {
    transition: 0.2s;
}

.setsFolderSettingButtons>i:hover {
    scale: 0.85;
}

.setsFolderSettings:hover .setsFolderSettingButtons {
    width: 50px;
}

.setsGameSettings {
    position: relative;
}

.setsGameSettingsPopup {
    position: absolute;
    bottom: 100%;
    height: 0px;
    overflow-y: hidden;
    transition: 0.2s;
    background-color: var(--main1);
    left: 0;
    right: 0;
    padding-block: 0px;
    color: rgba(255, 255, 255, 0.85);
    --border-radius: 5px;
    clip-path: polygon(0 var(--border-radius),
            var(--border-radius) 0,
            calc(100% - var(--border-radius)) 0,
            100% var(--border-radius),
            100% 100%,
            0 100%);
}

.setsGameSettings:hover .setsGameSettingsPopup {
    padding-block: 5px;
    height: 95px;
}

.setsGameSetting {
    font-size: 1rem;
    display: flex;
    transition: 0.2s;
}

.setsGameSetting i {
    font-size: 0.8rem;
    height: 1rem;
    margin-inline: 5px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setsGameSetting:hover {
    scale: 0.9;
    color: var(--accent2)
}

.setsGameMergeButton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    opacity: 0;
    background-color: black;
    transition: 0.2s;
}

.setsFolder .setsGameMergeButton {
    background-color: white;
}

.setsGameMergeButton:hover {
    opacity: 0.2;
    cursor: pointer;
}

.setsGameMergeInfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    /* opacity: 0; */
    background-color: var(--main2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.setsGameMergeHeader {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.setsGameCancelMerge {
    padding: 5px 15px;
    background-color: var(--red);
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: inset 0px -5px rgba(0, 0, 0, .2);
    user-select: none;
    transition: 0.2s;
    cursor: pointer;
}

.setsGameCancelMerge:hover {
    filter: brightness(1.1);
    margin-top: -2px;
    padding-bottom: 12px;
    box-shadow: inset 0px -7px rgba(0, 0, 0, .2);
}

.setsGameCancelMerge:active {
    margin-top: 5px;
    padding-bottom: 5px;
    box-shadow: inset 0px -0px rgba(0, 0, 0, .2);
}

.setsBackButton i {
    margin-right: 5px;
}

.setsBackButton {
    user-select: none;
    font-size: 22px;
    /* margin-inline: calc(5% - 7px); */
    /* margin-top: 20px; */
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--accent2);
    width: fit-content;
    padding: 5px 10px;
    transition: box-shadow 0.2s, padding 0.2s, margin 0.2s;
    padding-bottom: 10px;
    box-shadow: inset 0 -5px rgba(0, 0, 0, .2);
}

.setsBackButton:hover {
    margin-top: -2px;
    padding-bottom: 12px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2);
    transition: 0.1s;
    margin-bottom: 0px;
}

.setsBackButton:active {
    margin-top: 5px;
    /* margin-bottom: 5px; */
    padding-bottom: 5px;
    box-shadow: inset 0 -0px rgba(0, 0, 0, .2);
}

.setsEmpty {
    text-align: center;
    background-color: var(--main2);
    width: fit-content;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    --border-radius: 10px;
    clip-path: polygon(0 var(--border-radius),
            var(--border-radius) 0,
            calc(100% - var(--border-radius)) 0,
            100% var(--border-radius),
            100% calc(100% - var(--border-radius)),
            calc(100% - var(--border-radius)) 100%,
            var(--border-radius) 100%,
            0 calc(100% - var(--border-radius)));
}

.setsEmptyHeader {
    font-weight: 700;
    font-size: 32px;
    margin: 15px;
    margin-block: 15px 25px;
}

.setsEmptyLinks {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-inline: 30px
}

.setsEmptyLinks>div {
    flex: 1;
    padding: 5px 15px;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: box-shadow 0.2s, padding 0.2s, margin 0.2s;
    padding-bottom: 10px;
    box-shadow: inset 0 -5px rgba(0, 0, 0, .2);
}

.setsEmptyLinks>div:hover {
    margin-top: -2px;
    padding-bottom: 12px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2);
    transition: 0.1s;
    margin-bottom: 0px;
}

.setsEmptyLinks>div:active {
    margin-top: 5px;
    /* margin-bottom: 5px; */
    padding-bottom: 5px;
    box-shadow: inset 0 -0px rgba(0, 0, 0, .2);
}

.setsGettingStarted {
    font-size: 22px;
    margin-block: 25px 5px;
}