.sidebarTooltip {
    font-size: 15px !important;
    line-height: 17px !important;
    padding: 6px 13px !important;
    max-width: 185px;
    text-align: center;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: calc(100% - 100px);
    background-color: var(--main2);
    padding: 25px;
    clip-path: polygon(0 0,
            calc(100% - 15px) 0, 100% 15px,
            100% calc(100% - 15px), calc(100% - 15px) 100%,
            0 100%);
    transition: 0.2s;
    z-index: 5;
}


#sidebar>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: table;
    table-layout: fixed;
    height: 100%;
    transition: height 0.2s
}

#sidebar.hover>ul {
    height: calc(100% - 50px);
}

#sidebar .bottomRow a {
    color: var(--accent1);
    font-size: 20px;
    transition: color 0.2s;
    padding: 10px;
}

#sidebar .bottomRow a:hover {
    color: var(--highlight1);
}

#sidebar .bottomRow {
    position: absolute;
    bottom: 25px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 0%;
    overflow: hidden;
    height: 50px;
    transition: width 0.3s;
}

#sidebar.hover .bottomRow {
    width: 100%;
}

#sidebar li {
    text-align: center;
    display: table-row;
    align-items: center;
    margin-block: 10px;
    font-size: 30px;
}

#sidebar li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

#sidebar li a * {
    color: var(--accent1);
    transition: 0.2s;
}

#sidebar li a:hover * {
    color: var(--highlight1);
}

#sidebar li a .page {
    margin-left: 25px;
    width: max-content;
    opacity: 0;
    transition: opacity 0.2s;
    display: inline;
}

#sidebar.hover li a .page {
    display: inline;
    margin-left: 25px;
    opacity: 1;
}

#sidebar.hover {
    right: calc(100% - 300px);
}

.icon {
    align-items: center;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100px;
    z-index: 1;
}

#shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    transition: 0.2s;
    z-index: 0;
}

#sidebarWrapper:has(#sidebar.hover) #shade {
    opacity: 0.35;
    z-index: 2;
}

#title {
    opacity: 0;
    transition: 0.2s;
}

#sidebar.hover #title {
    opacity: 1;
}