.part {
    position: absolute;
    bottom: 0;
    left: 0;
}

.blook {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.blookContainer {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    outline: none;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.customBlook {
    width: 75%;
    max-width: 110px;
    margin-bottom: 5px;
}

#profile {
    width: 100%;
    aspect-ratio: 50 / 11;
}

#profileWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#profile #blook {
    position: absolute;
    height: 87%;
    aspect-ratio: 13 / 15;
    z-index: 1;
    top: 56.5%;
    left: 1.75%;
    transform: translateY(-57.5%) rotate(-10deg);
}

#profile #banner {
    position: absolute;
    height: 100%;
    cursor: pointer;
}

#profile #banner img {
    height: 100%;
}

#profile #nameHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4.75vw;
    width: 75%;
}

#profile #username {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    height: 3vw;
    line-height: 3vw;
    font-weight: 700;
}

#profile #userTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    height: 1.5vw;
    line-height: 1.5vw;
}

#bottomHalf {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    gap: 10px;
    padding: 10px;
}

#stats {
    border-radius: 5px;
    padding: 3px;
    overflow-y: scroll;
    background-color: var(--main2);
}

#stats::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main1);
    border-radius: 10px;
    border: 2px solid var(--main2)
}

#stats::-webkit-scrollbar-thumb {
    background-color: hsl(290, 48%, 40%, 50%);
    border-radius: 10px;
    border: 2px solid var(--main2);
}

#stats::-webkit-scrollbar-thumb:hover {
    background-color: hsl(290, 48%, 40%, 75%);
}

.statsHeader {
    display: flex;
    align-items: center;
    font-family: Adventure;
    font-size: 25px;
    line-height: 50px;
    width: calc(100% - 30px);
    margin: 5px;
    padding-inline: 10px;
    border-radius: 5px;
    background-color: var(--accent1);
}

.stat {
    position: relative;
    padding: 5px 10px;
    margin: 5px 10px 5px 25px;
    border-radius: 10px;
    background-color: var(--main1);
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}

.statName {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: left;
    left: 0;
    padding-inline: 10px;
    top: 0;
    background-color: hsl(290, 48%, 40%, 50%);
    height: 100%;
    width: 70%;
    clip-path: polygon(0 100%, 0 0, 100% 0, calc(100% - 25px) 100%);
}

.statValue {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    height: 100%;
}

.statIcon {
    width: 30px;
    font-size: 24px;
    margin-inline: 5px 10px;
    display: inline-block;
}

#blookUsage {
    position: relative;
    background-color: var(--main2);
    border-radius: 5px;
    padding: 33px 13px 8px 13px;
}

#blookUsage::before {
    content: "";
    position: absolute;
    background-color: white;
    left: 100px;
    right: 60px;
    top: 90px;
    height: 2px;
}

#usageHeader {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    line-height: 50px;
    background: var(--accent1);
    border-radius: 5px;
    font-family: Adventure;
    padding-inline: 15px;
    font-size: 25px;
}

#usageStart {
    color: white;
    line-height: 12px;
    font-size: 12px;
    position: absolute;
    top: 85px;
    left: 85px;
}

#usageEnd {
    color: white;
    line-height: 12px;
    font-size: 12px;
    position: absolute;
    top: 85px;
    right: 40px;
}

#usageTip {
    position: absolute;
    top: 75px;
    font-size: 10px;
    left: 85px;
    right: 40px;
    text-align: center;
}

#usageWrapper {
    position: absolute;
    left: 13px;
    right: 13px;
    top: 103px;
    bottom: 0;
    overflow-y: scroll;
}

#usageWrapper::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main1);
    border-radius: 10px;
    border: 2px solid var(--main2)
}

#usageWrapper::-webkit-scrollbar-thumb {
    background-color: hsl(290, 48%, 40%, 50%);
    border-radius: 10px;
    border: 2px solid var(--main2);
}

#usageWrapper::-webkit-scrollbar-thumb:hover {
    background-color: hsl(290, 48%, 40%, 75%);
}

.blookUse {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5px 5px;
    width: calc(100% - 10px);
    height: 60px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: var(--main1);
    border-radius: 10px;
}

.usageBarWrapper {
    height: 32px;
    width: calc(100% - 75px);
    margin-inline: 10px;
}

.usageBar {
    height: 100%;
    transform-origin: left center;
    background: linear-gradient(transparent, transparent 50%, rgba(0, 0, 0, .1) 50.01%, rgba(0, 0, 0, .1));
    box-shadow: 0 4px rgba(0, 0, 0, .3);
}

.usageBlook {
    margin-left: 5px;
}

#gameHistory {
    position: relative;
    background-color: var(--main2);
    border-radius: 5px;
    padding: 33px 13px 8px 13px;
}

#historyHeader {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    line-height: 50px;
    background: var(--accent1);
    border-radius: 5px;
    font-family: Adventure;
    padding-inline: 15px;
    font-size: 25px;
}

#historyWrapper {
    position: absolute;
    left: 13px;
    right: 13px;
    top: 68px;
    bottom: 0px;
    overflow-y: scroll;
}

#historyWrapper::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main1);
    border-radius: 10px;
    border: 2px solid var(--main2)
}

#historyWrapper::-webkit-scrollbar-thumb {
    background-color: hsl(290, 48%, 40%, 50%);
    border-radius: 10px;
    border: 2px solid var(--main2);
}

#historyWrapper::-webkit-scrollbar-thumb:hover {
    background-color: hsl(290, 48%, 40%, 75%);
}

.pastGame {
    background: var(--main1);
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5px 5px 5px 5px;
}

.pastBlook {
    width: 50px;
    margin-left: 5px;
}

.pastCustomBlook {
    width: 50px;
    margin-left: 5px;
}

.pastInfo {
    display: flex;
    margin-inline: 15px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.pastName {
    font-size: 20px;
}

#topHalf {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    display: grid;
    grid-template-columns: 3fr 4fr;
    overflow: hidden;
    padding: 5px;
}

#topLeft {
    position: relative;
    display: grid;
    height: 100%;
    padding: 5px;
}

#classPassWrapper {
    border-radius: 5px;
    position: absolute;
    top: calc(9vw + 5px);
    left: 0;
    bottom: 0;
    right: 5px;
    margin: 5px;
    background-color: var(--main2);
    padding-inline: 20px;
}

#classPass {
    position: relative;
    overflow-x: scroll;
    height: 95%;
    width: 100%;
}

#classPass::-webkit-scrollbar {
    height: 10px;
    background-color: var(--main1);
    border-radius: 10px;
    border: 2px solid var(--main2)
}

#classPass::-webkit-scrollbar-thumb {
    background-color: hsl(290, 48%, 40%, 50%);
    border-radius: 10px;
    border: 2px solid var(--main2);
}

#classPass::-webkit-scrollbar-thumb:hover {
    background-color: hsl(290, 48%, 40%, 75%);
}

.classPassPart {
    position: absolute;
    top: 25%;
    transform: translateY(-25%);
    width: 10%;
    padding: 30px 25px;
    background-color: var(--main1);
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 4px rgba(255, 255, 255, .1);
}

.classPassPart[data-passed="true"] {
    background-color: var(--accent1);
    box-shadow: inset 0px 0px 0px 4px rgba(0, 0, 0, .25);
}

.levelWrapper {
    position: absolute;
    width: calc(10% + 50px);
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
}

.levelWrapper::before {
    position: absolute;
    text-align: center;
    content: attr(data-xp-needed);
    bottom: 100%;
    width: 100%;
    font-weight: 700;
}

.partLevel {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    background-color: var(--main1);
    box-shadow: inset 0px 0px 0px 4px rgba(255, 255, 255, .1);
    width: 3vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 1;
    /* opacity: 0.5; */
}

.partLevel[data-passed="true"] {
    background-color: var(--accent1);
    box-shadow: inset 0px 0px 0px 4px rgba(0, 0, 0, .25);
}

#classPassBar {
    border-radius: 2.5px;
    position: absolute;
    bottom: calc(1.5vw + 15px);
    left: 0;
    width: 2500%;
    clip-path: polygon(0 0, 0 100%, 99.325% 100%, 99.325% 0);
    overflow: hidden;
    height: 10px;
    background-color: var(--main1);
}

#barInner {
    background-color: var(--accent1);
    box-shadow: inset 0px -4px rgba(0, 0, 0, .25);
    height: 100%;
}

#customBlooks {
    overflow: hidden;
    background-color: var(--main2);
    border: 3px solid var(--accent1);
    margin: 5px;
}

.emptyBlook {
    filter: brightness(0);
    /* opacity: 0; */
}

#customArrowsContainer {
    position: relative;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#customArrowsContainer button {
    display: flex;
    height: 75%;
    aspect-ratio: 1 / 1;
    background: none;
    border: 3px solid var(--accent1);
    color: var(--accent1);
    margin-inline: 10px;
    font-size: 150%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 700;
}

#customArrowsContainer button i {
    color: inherit
}

#customArrowsContainer button:hover:not(:disabled) {
    /* scale: 1.1; */
    border: 3px solid var(--highlight1);
    color: var(--highlight1);
}

#customArrowsContainer button:disabled {
    filter: saturate(0);
    cursor: unset;
}

#profileBlooksWrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    background-color: #000a;
}

#profileBlooksWrapper>div {
    background: var(--main2);
    width: 50%;
    height: 75%;
    overflow-y: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 65px);
    gap: 10px;
    justify-content: space-between;
    align-content: flex-start;
    border: 3px solid var(--accent1);
}

#profileBlooksWrapper>div::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main1);
    border-radius: 10px;
    border: 2px solid var(--main2)
}

#profileBlooksWrapper>div::-webkit-scrollbar-thumb {
    background-color: hsl(290, 48%, 40%, 50%);
    border-radius: 10px;
    border: 2px solid var(--main2);
}

#profileBlooksWrapper>div::-webkit-scrollbar-thumb:hover {
    background-color: hsl(290, 48%, 40%, 75%);
}

#profileBlooksWrapper>div>div {
    width: 65px;
    aspect-ratio: 13 / 15;
    cursor: pointer;
}



#profileChooseWrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    background-color: #000a;
}

#profileChooseWrapper>div {
    background: var(--main2);
    width: 50%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 3px solid var(--accent1);
    display: grid;
    grid-template-rows: 1fr 10fr;
}

#profileChooseButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profileChooseButtons button {
    background: none;
    border: 3px solid var(--accent1);
    width: 100%;
    margin: 10px;
    font-size: 30px;
    font-weight: 700;
    padding-block: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#profileChooseButtons button:hover {
    border: 3px solid var(--highlight1);
}

#profileChoose {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 30px;
    overflow-y: scroll;
    padding: 10px 0px 10px 10px
}

#profileChoose div {
    width: 45%;
    aspect-ratio: 50 / 11;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}


#profileChoose::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main1);
    border-radius: 10px;
    border: 2px solid var(--main2)
}

#profileChoose::-webkit-scrollbar-thumb {
    background-color: hsl(290, 48%, 40%, 50%);
    border-radius: 10px;
    border: 2px solid var(--main2);
}

#profileChoose::-webkit-scrollbar-thumb:hover {
    background-color: hsl(290, 48%, 40%, 75%);
}

.statsSearch {
    position: absolute;
    right: 3vw;
    top: 45%;
    transform: translateY(-45%);
    font-size: 3vw;
    transition: 0.2s;
    cursor: pointer;
}

.statsSearch:hover {
    scale: 1.05;
}