.hostquestion_upperContainer {
    width: 100vw;
    height: calc(70vh - 65px);
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 1
}

.hostquestion_imageContainer {
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 7px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
    position: absolute;
    top: 50%;
    left: 5vw;
    height: 75%;
    width: 30vw;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer
}

.hostquestion_image {
    margin: auto;
    width: 90%;
    height: 90%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 10px
}

.hostquestion_funcContainer {
    cursor: default
}

.hostquestion_qMathField {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default !important;
    color: #3a3a3a;
    border-color: #3a3a3a;
    font-size: 28px !important
}

.hostquestion_questionContainerImage {
    background-color: #fff;
    color: #3a3a3a;
    border-radius: 10px;
    padding-bottom: 7px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
    top: 50%;
    left: 38.75vw;
    height: 75%;
    width: 40vw;
    transform: translateY(-50%);
    align-items: center
}

.hostquestion_questionContainerImage,
.hostquestion_questionTextImage {
    position: absolute;
    display: flex;
    justify-content: center
}

.hostquestion_questionTextImage {
    top: 5%;
    left: 5vw;
    width: 30vw;
    height: 90%;
    font-family: Nunito, sans-serif;
    text-align: center;
    overflow: hidden;
    align-content: center;
    flex-direction: column;
    float: left;
    word-wrap: break-word;
    z-index: 2
}

.hostquestion_questionContainerNoImage {
    background-color: #fff;
    color: #3a3a3a;
    border-radius: 10px;
    padding-bottom: 7px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
    position: absolute;
    top: 50%;
    left: 40%;
    height: 75%;
    width: 70vw;
    display: inline-block;
    transform: translate(-50%, -50%)
}

.hostquestion_questionTextNoImage {
    top: 7.5%;
    left: 5vw;
    width: 60vw;
    height: 85%;
    font-family: Nunito, sans-serif;
    align-content: center;
    flex-direction: column;
    float: left;
    word-wrap: break-word;
    z-index: 2
}

.hostquestion_nextButton,
.hostquestion_questionTextNoImage {
    position: absolute;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center
}

.hostquestion_nextButton {
    width: 15vw;
    height: 15%;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 7px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
    color: #3a3a3a;
    top: 75%;
    left: 82.5vw;
    cursor: pointer;
    font-size: 2.5vw;
    align-items: center;
    outline: none;
    transition: all .2s cubic-bezier(.39, .5, .15, 1.36)
}

.hostquestion_nextButton:hover {
    transform: scale(1.05)
}

.hostquestion_nextText {
    font-family: Titan One, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.hostquestion_upperRightContainer {
    width: 15vw;
    height: 60%;
    background-color: #fff;
    color: #3a3a3a;
    border-radius: 10px;
    padding-bottom: 7px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
    position: absolute;
    top: 10%;
    left: 82.5vw;
    overflow: hidden
}

.hostquestion_numAnswersText {
    font-size: 4vw;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 50%;
    top: calc(23.5vh - 19.5px + 3.75vw);
    transform: translate(-50%, -50%);
    font-family: Titan One, sans-serif;
    z-index: 4
}

.hostquestion_timerContainer {
    background: #75cedd
}

.hostquestion_timerContainer,
.hostquestion_timerContainerDone {
    width: 7.5vw;
    height: 7.5vw;
    position: relative;
    left: 3.75vw;
    top: 5vh;
    border-radius: 10px;
    overflow: hidden
}

.hostquestion_timerContainerDone {
    background: #009bb6
}

.hostquestion_timer,
.hostquestion_timerAnimate {
    font-size: 3.5vw;
    color: #fff;
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 7.5vw;
    font-family: Titan One, sans-serif;
    text-shadow: 2px 2px 8px grey;
    z-index: 4
}

.hostquestion_timerAnimate {
    animation: hostquestion_timer 1s linear
}

@keyframes hostquestion_timer {
    0% {
        transform: scale(1.4)
    }

    to {
        transform: scale(1)
    }
}

.hostquestion_spinnerContainer,
.hostquestion_spinnerContainerDone {
    width: 175%;
    height: 175%;
    position: absolute;
    left: -37.5%;
    top: -37.5%;
    background: inherit
}

.hostquestion_spinnerContainerDone {
    opacity: 0
}

.hostquestion_spinner {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: #009bb6;
    border-radius: 175px 0 0 175px;
    z-index: 2;
    animation: hostquestion_rota 1s linear
}

@keyframes hostquestion_rota {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.hostquestion_filler {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: #009bb6;
    border-radius: 0 175px 175px 0;
    z-index: 1;
    left: 50%;
    opacity: 0;
    animation: hostquestion_fill 1s steps(1)
}

@keyframes hostquestion_fill {
    0% {
        opacity: 0
    }

    50%,
    to {
        opacity: 1
    }
}

.hostquestion_mask {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 3;
    opacity: 1;
    background: inherit;
    animation: hostquestion_mask 1s steps(1)
}

@keyframes hostquestion_mask {
    0% {
        opacity: 1
    }

    50%,
    to {
        opacity: 0
    }
}

.hostquestion_answersHolder {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    height: calc(30vh - 5px);
    width: calc(100% - 10px)
}

.hostquestion_answersHolder,
.hostquestion_typingAnswerWrapper {
    display: flex;
    position: absolute;
    top: 70vh;
    left: 0;
    padding: 0 5px 5px
}

.hostquestion_typingAnswerWrapper {
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: 100%;
    box-sizing: border-box
}

.hostquestion_typingAnswerHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 550px;
    height: calc(100% - 10px);
    background-color: rgba(0, 0, 0, .05);
    border-radius: 5px
}

.hostquestion_typingAnswerHeader {
    font-size: 28px;
    font-weight: 700;
    width: 100%;
    text-align: center
}

.hostquestion_typingAnswerSubheader {
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-top: -5px
}

.hostquestion_typingAnswerContainer {
    height: 65px;
    max-width: 350px;
    width: 90%;
    background-color: #3378ff;
    padding-bottom: 6px;
    box-sizing: border-box;
    box-shadow: inset 0 -6px rgba(0, 0, 0, .2);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.hostquestion_typingAnswerInput {
    border: none;
    width: calc(100% - 20px);
    margin: auto 10px;
    box-sizing: border-box;
    padding: 0 7px;
    height: 40px;
    font-size: 22px;
    font-family: Nunito, sans-serif;
    color: #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
    outline: none;
    text-align: center
}

.hostquestion_typingAnswerInput::-moz-placeholder {
    color: #fff;
    opacity: .5
}

.hostquestion_typingAnswerInput::placeholder {
    color: #fff;
    opacity: .5
}

.hostquestion_answerContainer {
    margin: auto;
    width: calc(50% - 6px);
    height: calc(50% - 6px - .9vh);
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: .9vh;
    box-shadow: inset 0 -.9vh 0 0 rgba(0, 0, 0, .2);
    transition: all .2s cubic-bezier(.39, .5, .15, 1.36)
}

.hostquestion_answerTwo {
    height: calc(100% - 6px - .9vh)
}

.hostquestion_answerTwo:focus,
.hostquestion_answerTwo:hover {
    height: calc(100% - 6px)
}

.hostquestion_answerThree {
    width: calc(100% - 6px)
}

.hostquestion_answerText {
    color: #fff;
    height: 80%;
    width: 80%;
    font-family: Nunito, sans-serif;
    text-align: center;
    overflow: hidden;
    float: left;
    word-wrap: break-word;
    transform: scale(1);
    transition: transform .2s cubic-bezier(.39, .5, .15, 1.36)
}

.hostquestion_answerImgContainer,
.hostquestion_answerText {
    display: flex;
    justify-content: center;
    align-items: center
}

.hostquestion_answerImgContainer {
    height: 90%;
    width: 90%
}

.hostquestion_answerImg {
    margin: auto;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.hostquestion_answerImg,
.hostquestion_mathField {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.hostquestion_mathField {
    cursor: default !important;
    color: #fff;
    border-color: #fff;
    font-size: 26px !important
}

.hostquestion_spooky {
    background-color: #1a1a1a;
    box-shadow: 0 0 8px 3px #e57e25;
    color: #fff
}

.hostquestion_invisible {
    opacity: 0;
    transition: opacity .3s linear
}