.hostresults_upperContainer {
    width: 100vw;
    height: calc(70vh - 65px);
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 1;
    overflow: hidden
}

.hostresults_mediaButton {
    background-color: #fff;
    color: #3a3a3a;
    border-radius: 10px;
    padding-bottom: 7px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
    position: absolute;
    top: 80%;
    left: 8.75vw;
    width: 17.5vw;
    height: 12.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    outline: none;
    cursor: pointer;
    transition: all .2s cubic-bezier(.39, .5, .15, 1.36)
}

.hostresults_mediaButton:hover {
    transform: scale(1.05)
}

.hostresults_mediaIcon {
    font-size: 5vh
}

.hostresults_mediaText {
    font-family: Nunito, sans-serif;
    padding-left: 1vw;
    font-size: 3.7vh
}

.hostresults_questionContainerImage {
    background-color: #fff;
    color: #3a3a3a;
    border-radius: 10px;
    padding-bottom: 7px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
    position: absolute;
    top: 7.5%;
    left: 2.5vw;
    width: 30vw;
    height: 67.5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.hostresults_image {
    margin: auto;
    width: 90%;
    height: 90%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 10px
}

.hostresults_qMathField {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default !important;
    color: #3a3a3a;
    border-color: #3a3a3a;
    font-size: 28px !important
}

.hostresults_questionContainer {
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 7px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
    position: absolute;
    top: 16.25%;
    left: 2.5vw;
    width: 30vw;
    height: 67.5%;
    overflow: hidden
}

.hostresults_questionText {
    position: relative;
    padding: 2vh 2vw;
    width: 26vw;
    height: calc(46.5vh - 65px);
    font-family: Nunito, sans-serif;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    float: left;
    word-wrap: break-word;
    white-space: pre-line;
    z-index: 2
}

.hostresults_centerContainer {
    background-color: #fff;
    color: #3a3a3a;
    border-radius: 10px;
    padding-bottom: 7px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
    position: absolute;
    top: 12.5%;
    left: 35vw;
    height: 75%;
    width: 45vw
}

.hostresults_upperCenter {
    width: 100%;
    height: calc(10.5vh - 9.75px);
    position: absolute;
    top: 0;
    left: 0
}

.hostresults_upperCenterText {
    width: 100%;
    text-align: center;
    font-family: Titan One, sans-serif;
    font-size: 6.5vh;
    line-height: calc(9.1875vh - 8.53125px);
    padding-top: calc(1.3125vh - 1.21875px)
}

.hostresults_lowerCenter {
    width: 100%;
    height: calc(42vh - 39px);
    position: absolute;
    top: calc(10.5vh - 9.75px);
    left: 0
}

.hostresults_percentageTextFaded {
    opacity: 0
}

.hostresults_percentageText,
.hostresults_percentageTextFaded {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Titan One, sans-serif;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 2.2vw
}

.hostresults_percentageText {
    opacity: 1;
    transition: opacity .3s cubic-bezier(.39, .5, .15, 1.36)
}

.hostresults_amountText {
    color: #fff;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    font-family: Titan One, sans-serif;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.hostresults_boxOneThreeFour {
    top: calc(3.9375vh - 3.65625px)
}

.hostresults_boxOneThreeFour,
.hostresults_boxOneTwo {
    opacity: 1;
    font-size: 6vh;
    width: calc(14.4375vh - 13.40625px);
    height: calc(14.4375vh - 13.40625px);
    background-color: #ffa31e;
    border-radius: 5%;
    position: absolute;
    left: 7.5%;
    overflow: hidden;
    transition: all .2s cubic-bezier(.39, .5, .15, 1.36)
}

.hostresults_boxOneTwo {
    top: calc(13.78125vh - 12.79688px)
}

.hostresults_boxTwoFour {
    top: calc(3.9375vh - 3.65625px)
}

.hostresults_boxTwoFour,
.hostresults_boxTwoTwoThree {
    opacity: 1;
    font-size: 6vh;
    width: calc(14.4375vh - 13.40625px);
    height: calc(14.4375vh - 13.40625px);
    background-color: #3378ff;
    border-radius: 5%;
    position: absolute;
    left: calc(92.5% - 14.4375vh + 13.40625px);
    overflow: hidden;
    transition: all .2s cubic-bezier(.39, .5, .15, 1.36)
}

.hostresults_boxTwoTwoThree {
    top: calc(13.78125vh - 12.79688px)
}

.hostresults_boxThree {
    background-color: #00cf77;
    left: 7.5%
}

.hostresults_boxFour,
.hostresults_boxThree {
    opacity: 1;
    font-size: 6vh;
    width: calc(14.4375vh - 13.40625px);
    height: calc(14.4375vh - 13.40625px);
    border-radius: 5%;
    position: absolute;
    top: calc(23.625vh - 21.9375px);
    overflow: hidden;
    transition: all .2s cubic-bezier(.39, .5, .15, 1.36)
}

.hostresults_boxFour {
    background-color: #ff462b;
    left: calc(92.5% - 14.4375vh + 13.40625px)
}

.hostresults_pauseButton {
    width: 5vw;
    height: 5vw;
    background-color: #fff;
    color: #3a3a3a;
    border-radius: 10px;
    padding-bottom: 7px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
    position: absolute;
    top: calc(12.5% + 1.25vw + 31.25vh - 24.375px);
    left: 87.5vw;
    cursor: pointer;
    font-size: 2.75vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    outline: none;
    transition: all .2s cubic-bezier(.39, .5, .15, 1.36)
}

.hostresults_pauseButton:hover {
    transform: scale(1.05)
}

.hostresults_pauseIcon {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.hostresults_rightTopContainer {
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 7px;
    box-shadow: inset 0 -7px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .15);
    position: absolute;
    top: 12.5%;
    left: 82.5vw;
    height: calc(7.5vw + 10vh);
    width: 15vw
}

.hostresults_timerContainer {
    background: #75cedd
}

.hostresults_timerContainer,
.hostresults_timerContainerDone {
    width: 7.5vw;
    height: 7.5vw;
    position: relative;
    left: 3.75vw;
    top: 5vh;
    border-radius: 10px;
    overflow: hidden
}

.hostresults_timerContainerDone {
    background: #009bb6
}

.hostresults_timer,
.hostresults_timerAnimate {
    font-size: 3.5vw;
    color: #fff;
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 7.5vw;
    font-family: Titan One, sans-serif;
    text-shadow: 2px 2px 8px grey;
    z-index: 4
}

.hostresults_timerAnimate {
    animation: hostresults_timer 1s linear
}

@keyframes hostresults_timer {
    0% {
        transform: scale(1.4)
    }

    to {
        transform: scale(1)
    }
}

.hostresults_spinnerContainer,
.hostresults_spinnerContainerDone {
    width: 175%;
    height: 175%;
    position: absolute;
    left: -37.5%;
    top: -37.5%;
    background: inherit
}

.hostresults_spinnerContainerDone {
    opacity: 0
}

.hostresults_spinner,
.hostresults_spinnerAnimate {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: #009bb6;
    border-radius: 175px 0 0 175px;
    z-index: 2
}

.hostresults_spinnerAnimate {
    animation: hostresults_rota 1s linear 10
}

@keyframes hostresults_rota {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.hostresults_filler,
.hostresults_fillerAnimate {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: #009bb6;
    border-radius: 0 175px 175px 0;
    z-index: 1;
    left: 50%;
    opacity: 0
}

.hostresults_fillerAnimate {
    animation: hostresults_fill 1s steps(1) 10
}

@keyframes hostresults_fill {
    0% {
        opacity: 0
    }

    50%,
    to {
        opacity: 1
    }
}

.hostresults_mask,
.hostresults_maskAnimate {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 3;
    opacity: 1;
    background: inherit
}

.hostresults_maskAnimate {
    animation: hostresults_mask 1s steps(1) 10
}

@keyframes hostresults_mask {
    0% {
        opacity: 1
    }

    50%,
    to {
        opacity: 0
    }
}

.hostresults_answersHolder {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    height: calc(30vh - 5px);
    width: calc(100% - 10px)
}

.hostresults_answersHolder,
.hostresults_typingAnswerWrapper {
    display: flex;
    position: absolute;
    top: 70vh;
    left: 0;
    padding: 0 5px 5px
}

.hostresults_typingAnswerWrapper {
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: 100%;
    box-sizing: border-box
}

.hostresults_typingAnswerHolder {
    width: 95%;
    max-width: 550px;
    height: calc(100% - 10px);
    background-color: rgba(0, 0, 0, .05);
    border-radius: 5px
}

.hostresults_typingAnswerHolder,
.hostresults_typingAnswerInside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.hostresults_typingAnswerInside {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box
}

.hostresults_typingAnswerHeader {
    font-size: 28px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: 10px
}

.hostresults_typingAnswerContainer {
    height: 65px;
    max-width: 350px;
    width: 90%;
    background-color: #3378ff;
    padding-bottom: 6px;
    box-sizing: border-box;
    box-shadow: inset 0 -6px rgba(0, 0, 0, .2);
    border-radius: 6px;
    flex-direction: row;
    margin: 5px 0;
    font-size: 22px;
    font-family: Nunito, sans-serif;
    color: #fff;
    text-align: center
}

.hostresults_answerContainer,
.hostresults_typingAnswerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.hostresults_answerContainer {
    margin: auto;
    width: calc(50% - 6px);
    height: calc(50% - 6px - .9vh);
    border-radius: 5px;
    outline: none;
    padding-bottom: .9vh;
    box-shadow: inset 0 -.9vh 0 0 rgba(0, 0, 0, .2);
    transition: all .2s cubic-bezier(.39, .5, .15, 1.36)
}

.hostresults_answerTwo {
    height: calc(100% - 6px - .9vh)
}

.hostresults_answerTwo:focus,
.hostresults_answerTwo:hover {
    height: calc(100% - 6px)
}

.hostresults_answerThree {
    width: calc(100% - 6px)
}

.hostresults_answerText {
    color: #fff;
    height: 80%;
    width: 80%;
    font-family: Nunito, sans-serif;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    word-wrap: break-word
}

.hostresults_selectedText {
    width: 65%;
    margin-left: 5%
}

.hostresults_selectedIcon {
    color: #fff;
    font-size: 2.5vw;
    width: 20%
}

.hostresults_answerImgContainer,
.hostresults_selectedIcon {
    display: flex;
    justify-content: center;
    align-items: center
}

.hostresults_answerImgContainer {
    height: 90%;
    width: 90%
}

.hostresults_answerImg {
    margin: auto;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.hostresults_selectedImg {
    width: 65%;
    margin-left: 5%
}

.hostresults_mathField {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default !important;
    color: #fff;
    border-color: #fff;
    font-size: 26px !important
}

.hostresults_faded {
    opacity: .6
}

.hostresults_transition {
    opacity: 1;
    animation: hostresults_transition .25s linear
}

@keyframes hostresults_transition {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.hostresults_spooky {
    background-color: #1a1a1a;
    box-shadow: 0 0 8px 3px #e57e25;
    color: #fff
}

.hostresults_invisible {
    opacity: 0;
    transition: opacity .3s linear
}