body:has(#content):has(.modalModal) {
    height: 100vh;
    overflow-y: hidden;
}

/* #content:has(.modalModal) {
    padding-right: 15px;
} */

.modalModal {
    display: block;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .6);
}

.modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: var(--main1);
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .2);
    border-radius: 7px;
    text-align: center;
}

.modalHeader {
    font-size: 34px;
    font-weight: 700;
    margin: 35px;
}

.modalText {
    font-size: 18px;
    margin: 0px 25px 25px;
}

.modalButtonContainer {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modalButton {
    border-color: white;
    border-style: solid;
    border-radius: 6px;
    width: 125px;
    height: 45px;
    margin: auto;
    font-size: 23px;
    text-align: center;
    line-height: 45px;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

.modalButton:hover {
    border-color: var(--color);
    color: var(--color);
    font-weight: 700;
}

.timeInput {
    border: 3px solid white;
    border-radius: 6px;
    width: 180px;
    height: 50px;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timeInput input {
    border: none;
    margin: auto 0 auto 5px;
    padding-right: 5px;
    padding-left: 5px;
    width: 115px;
    height: 36px;
    line-height: 36px;
    font-size: 28px;
    text-align: right;
    font-weight: 700;
    color: white;
    background: none;
    outline: none;
}

.timeInput input::-webkit-outer-spin-button,
.timeInput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.timeInput i {
    line-height: 30px;
    font-size: 28px;
    text-align: center;
    height: 30px;
    width: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin: 10px;
}

.modalInput {
    border: 3px solid white;
    border-radius: 6px;
    width: 75%;
    height: 50px;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modalInput input {
    border: none;
    margin: auto 5px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 28px;
    text-align: right;
    font-weight: 700;
    color: white;
    background: none;
    outline: none;
    flex: 1;
    text-align: left;
}

.modalInput i {
    line-height: 30px;
    font-size: 28px;
    text-align: center;
    height: 30px;
    width: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalColorPicker {
    margin-inline: auto;
}