.classic_nodesContainer {
    position: absolute;
    top: calc(50% + 32.5px);
    left: 20vw
}

.classic_standingContainer {
    position: absolute;
    height: 10vh;
    width: 60vw;
    background-color: #fff;
    color: #3a3a3a;
    border-radius: 7px;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: row;
    align-items: center
}

.classic_placeText {
    text-align: right;
    width: 2.35vw;
    font-size: 5.9vh;
    margin: auto 0 auto .5vw
}

.classic_placeText,
.classic_superPlaceText {
    font-family: Adventure
}

.classic_superPlaceText {
    margin: 1vh 0 auto;
    font-size: 3.1vh;
    width: 2.25vw;
    text-align: left
}

.classic_blookBox {
    height: 8.05vh;
    width: 7vh;
    margin: auto 1vw auto .5vw
}

.classic_nameText {
    height: 7vh;
    margin: auto 1.5vw auto 0;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 39vw
}

.classic_pointsText {
    margin: auto 2vw auto auto;
    font-size: 4.5vh;
    font-weight: 700;
    text-align: right;
    min-width: 7vw
}

.classic_addText {
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 8px grey;
    line-height: 10vh;
    position: absolute;
    top: 0;
    left: 103%;
    font-size: 5vh
}

.classic_nextButton {
    background-color: #fff;
    color: #3a3a3a;
    border-radius: 7px;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Adventure;
    font-size: 2.5vw;
    height: 4vw;
    width: 10vw;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 85px;
    right: 20px;
    transition: .2s
}

.classic_nextButton:focus,
.classic_nextButton:hover {
    transform: scale(.97)
}

.classic_fadeIn {
    opacity: 0;
    animation: classic_fadeIn .3s linear forwards
}

@keyframes classic_fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.classic_fadeOut {
    opacity: 1;
    animation: classic_fadeOut .3s linear forwards
}

@keyframes classic_fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}