@import url('https://fonts.googleapis.com/css?family=Rubik');
@font-face {
  font-family: Adventure;
  src: url("Adventure.otf");
}

:root {
  --main1: #1c1e22;
  --main2: #0b0c0d;
  --accent1: hsl(290, 40%, 48%);
  --highlight1: hsl(290, 100%, 50%);
}

* {
  font-family: Rubik;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  background: var(--main1);
}